Repository infinyon/fluvio-website, pull requests merged in 2023-12, with the labels that each got.

#732 docs: cleanup
  content/_globals.md
  content/cli/client/update.md
  content/docs/_index.md
  content/docs/kubernetes/install.md
  content/docs/switch.md
  content/docs/tutorials/_index.md
  content/docs/update.md
  content/download/_index.md
Labels: cli, docs, docs:tutorials, embedded-content, cli:client, download, docs:kubernetes

#666 Modify `smdk test` examples and documentation to use `--stdin`
  content/docs/tutorials/smartmodule-development.md
  content/smartmodules/smdk/build-test.md
Labels: docs, docs:tutorials, embedded-content, smartmodules, smartmodules:smdk

#744 docs: change `config-example.yaml` to `sample-config.yaml`
  content/connectors/cdk/build-test.md
  content/connectors/cdk/start-shutdown.md
  embeds/cdk/tree-output.md
  embeds/cli/example/cdk-generate-example.md
  embeds/connectors/inbound/http.md
  embeds/connectors/inbound/kafka.md
  embeds/connectors/inbound/mqtt.md
  embeds/connectors/outbound/http.md
  embeds/connectors/outbound/kafka.md
Labels: connectors, cdk

#746 Clarified the term SPU and linked to appropriate page
  content/docs/concepts/topics.md
Labels: docs, embedded-content, docs:concepts

#748 chore: fix lint ci
  .github/workflows/htmltest.yml
Labels: CI

#747 Merge from master
  .github/workflows/htmltest.yml
  content/api/_index.md
  content/connectors/cdk/build-test.md
  content/connectors/cdk/start-shutdown.md
  content/docs/concepts/topics.md
  embeds/cdk/tree-output.md
  embeds/cli/example/cdk-generate-example.md
  embeds/connectors/inbound/http.md
  embeds/connectors/inbound/kafka.md
  embeds/connectors/inbound/mqtt.md
  embeds/connectors/outbound/http.md
  embeds/connectors/outbound/kafka.md
Labels: CI, docs, embedded-content, connectors, api, cdk, docs:concepts

#749 fix: list-log section
  content/connectors/cdk/list-log.md
Labels: connectors, cdk

#750 fix: list-log samples
  content/connectors/cdk/list-log.md
Labels: connectors, cdk

#751 fix: log-and-list navigation
  content/connectors/cdk/build-test.md
  content/connectors/cdk/generate.md
  content/connectors/cdk/install.md
  content/connectors/cdk/list-log.md
  content/connectors/cdk/publish.md
  content/connectors/cdk/start-shutdown.md
  embeds/client-examples/python/Dockerfile
Labels: connectors, cdk

#752 fix: log-and-list navigation (#751)
  content/connectors/cdk/build-test.md
  content/connectors/cdk/generate.md
  content/connectors/cdk/install.md
  content/connectors/cdk/list-log.md
  content/connectors/cdk/publish.md
  content/connectors/cdk/start-shutdown.md
  embeds/client-examples/python/Dockerfile
Labels: connectors, cdk

#753 chore: ci, fix rust example automation
  Cargo.toml
  embeds/client-examples/rust/Cargo.lock
  embeds/client-examples/rust/Cargo.toml
  embeds/client-examples/rust/Dockerfile
Labels: fluvio-cms

#755 update version
  content/api/official/rust/installation.md
  embeds/client-examples/rust/Cargo.toml
Labels: api, api:official
