Repository infinyon/fluvio-website, pull requests merged in 2024-03, with the labels that each got.

#809 Fluvio newsletter update 03-06
  content/news/this-week-in-fluvio-0058.md
Labels: this-week-in-fluvio

#811 update Fluvio newsletter issue 59
  content/news/this-week-in-fluvio-0058.md
  content/news/this-week-in-fluvio-0059.md
Labels: this-week-in-fluvio

#812 sync master to stable 2024 03 06 ac
  content/news/this-week-in-fluvio-0058.md
  content/news/this-week-in-fluvio-0059.md
Labels: this-week-in-fluvio

#814 chore: ci, fix update-connector-docs
  .github/workflows/update-connector-docs.yml
  scripts/fluvio-cms/src/connectors/cli.rs
Labels: CI

#816 add: cdk requirements notes
  content/connectors/cdk/overview.md
Labels: connectors, cdk

#817 update non-standard kubernetes install docs
  Cargo.lock
  content/docs/kubernetes/_index.md
  content/docs/kubernetes/crd.md
  content/docs/kubernetes/external-access.md
  content/docs/kubernetes/helm.md
  content/docs/kubernetes/install.md
  content/docs/kubernetes/network-access.md
  scripts/fluvio-cms/src/hugo/mod.rs
Labels: docs, embedded-content, fluvio-cms, docs:kubernetes

#818 update non-standard kubernetes install docs (#817)
  Cargo.lock
  content/docs/kubernetes/_index.md
  content/docs/kubernetes/crd.md
  content/docs/kubernetes/external-access.md
  content/docs/kubernetes/helm.md
  content/docs/kubernetes/install.md
  content/docs/kubernetes/network-access.md
  scripts/fluvio-cms/src/hugo/mod.rs
Labels: docs, embedded-content, fluvio-cms, docs:kubernetes

#819 move section name from kubernetest to advanced
  content/docs/advanced/_index.md
  content/docs/advanced/crd.md
  content/docs/advanced/images/rancher-desktop.png
  content/docs/advanced/images/rancher-dockerd.png
  content/docs/advanced/install.md
  content/docs/advanced/network-access.md
  content/docs/advanced/rancher.md
  content/docs/architecture/overview.md
  content/docs/operations/monitor.md
  content/news/this-week-in-fluvio-0001.md
Labels: docs, embedded-content, this-week-in-fluvio, docs:architecture, docs:operations

#820 advanced: add aliases to old kubernetes path
  content/docs/advanced/crd.md
  content/docs/advanced/install.md
  content/docs/advanced/rancher.md
Labels: docs, embedded-content
