Repository infinyon/fluvio-website, pull requests merged in 2024-05, with the labels that each got.

#829 added consumer offsets docs
  content/cli/cluster/consumer.md
  content/connectors/connector-config.md
  content/docs/concepts/producer-consumer.md
  data/cli-commands.yml
  embeds/cli/help/fluvio-consume.md
  embeds/cli/help/fluvio-consumer-delete.md
  embeds/cli/help/fluvio-consumer-list.md
  embeds/templates/connector-template-meta-sink-filled.yaml
  embeds/templates/connector-template.yaml
Labels: cli, docs, embedded-content, connectors, docs:concepts

#832 added consumer offsets docs (#829)
  content/cli/cluster/consumer.md
  content/connectors/connector-config.md
  content/docs/concepts/producer-consumer.md
  data/cli-commands.yml
  embeds/cli/help/fluvio-consume.md
  embeds/cli/help/fluvio-consumer-delete.md
  embeds/cli/help/fluvio-consumer-list.md
  embeds/templates/connector-template-meta-sink-filled.yaml
  embeds/templates/connector-template.yaml
Labels: cli, docs, embedded-content, connectors, docs:concepts

#834 chore: update client-examples workflow
  .github/workflows/check_examples.yml
  Cargo.lock
  embeds/client-examples/java/fluvio-java/app/build.gradle
  embeds/client-examples/rust/Cargo.lock
  embeds/client-examples/rust/Cargo.toml
  embeds/client-examples/rust/Dockerfile
  embeds/client-examples/rust/src/main.rs
Labels: CI, fluvio-cms

#833 It is now required to include `smartmodule`
  content/smartmodules/smdk/publish.md
Labels: smartmodules, smartmodules:smdk

#835 chore: rust update deps
  Cargo.lock
  embeds/client-examples/rust/Cargo.lock
Labels: fluvio-cms
