Repository infinyon/fluvio-website, pull requests merged in 2024-02, with the labels that each got.

#798 fix: fish script missing .fvm/ dir
  content/docs/install.md
Labels: docs, embedded-content

#802 add: rancher-desktop proxy addr instr
  content/docs/kubernetes/rancher.md
Labels: docs, embedded-content, docs:kubernetes

#803 ci: sync-masterto-stable
  .github/workflows/s;ync-master-to-stable.yml
  .github/workflows/sync-master-to-stable.yml
Labels: CI

#805 merge master to stable 2024-02-15-10.34
  .github/workflows/sync-master-to-stable.yml
  content/docs/kubernetes/rancher.md
Labels: CI, docs, embedded-content, docs:kubernetes
