Repository infinyon/fluvio-website, pull requests merged in 2024-01, with the labels that each got.

#760 Cleanup connectors
  content/connectors/cdk/github-examples.md
  content/connectors/cdk/publish.md
  content/connectors/cdk/secrets.md
  content/connectors/cdk/start-shutdown.md
Labels: connectors, cdk

#762 Merge to Stable
  content/connectors/cdk/github-examples.md
  content/connectors/cdk/publish.md
  content/connectors/cdk/secrets.md
  content/connectors/cdk/start-shutdown.md
Labels: connectors, cdk

#764 Cleanup sm
  content/connectors/cdk/publish.md
  content/docs/_index.md
  content/smartmodules/analytics/aggregate.md
  content/smartmodules/lookback.md
  content/smartmodules/smdk/build-test.md
  content/smartmodules/smdk/generate.md
  content/smartmodules/smdk/install.md
  content/smartmodules/smdk/load.md
  content/smartmodules/smdk/overview.md
  content/smartmodules/smdk/publish.md
  content/smartmodules/smdk/smartmodulerecord.md
  content/smartmodules/transform/array-map.md
  content/smartmodules/transform/filter-map.md
  content/smartmodules/transform/filter.md
  content/smartmodules/transform/map.md
Labels: docs, embedded-content, smartmodules, smartmodules:analytics, smartmodules:smdk, smartmodules:transform, connectors, cdk

#766 Conflict
  content/connectors/cdk/publish.md
Labels: connectors, cdk

#767 Merge fixup
  content/connectors/cdk/publish.md
  content/docs/_index.md
  content/smartmodules/analytics/aggregate.md
  content/smartmodules/lookback.md
  content/smartmodules/smdk/build-test.md
  content/smartmodules/smdk/generate.md
  content/smartmodules/smdk/install.md
  content/smartmodules/smdk/load.md
  content/smartmodules/smdk/overview.md
  content/smartmodules/smdk/publish.md
  content/smartmodules/smdk/smartmodulerecord.md
  content/smartmodules/transform/array-map.md
  content/smartmodules/transform/filter-map.md
  content/smartmodules/transform/filter.md
  content/smartmodules/transform/map.md
  functions/newsletter/package-lock.json
  functions/newsletter/package.json
Labels: docs, embedded-content, smartmodules, smartmodules:analytics, smartmodules:smdk, smartmodules:transform, connectors, cdk

#769 Sm weight
  content/smartmodules/smdk/build-test.md
  content/smartmodules/smdk/generate.md
  content/smartmodules/smdk/load.md
  content/smartmodules/smdk/overview.md
  content/smartmodules/smdk/publish.md
  content/smartmodules/smdk/smartmodulerecord.md
Labels: smartmodules, smartmodules:smdk

#768 chore: update cargo deps
  Cargo.lock
  embeds/client-examples/rust/Cargo.lock
  scripts/fluvio-cms/src/connectors/mod.rs
Labels: fluvio-cms

#770 remove old connectors and references to netlify
  FUNCTIONS.MD
  config.toml
  content/connectors-old/_index.md
  content/connectors-old/cloud-connectors.md
  content/connectors-old/connector-templates.md
  content/connectors-old/examples/_index.md
  content/connectors-old/examples/github.md
  content/connectors-old/examples/java-connector.md
  content/connectors-old/examples/node-connector.md
  content/connectors-old/examples/python-connector.md
  content/connectors-old/examples/rust-connector.md
  content/connectors-old/how-to/_index.md
  content/connectors-old/how-to/connectors-with-smartmodules.md
  content/connectors-old/how-to/development-workflow.md
  content/connectors-old/how-to/how-to-local-pgql-cloud.md
  content/connectors-old/how-to/how-to-pgsql-with-minikube.md
  content/connectors-old/how-to/overview.md
  content/connectors-old/how-to/python-connector.md
  content/connectors-old/how-to/switching-profiles.md
  content/connectors-old/inbound/_index.md
  content/connectors-old/inbound/http.md
  content/connectors-old/inbound/kafka.md
  content/connectors-old/inbound/mqtt.md
  content/connectors-old/inbound/postgres.md
  content/connectors-old/inbound/prometheus.md
  content/connectors-old/inbound/template.md
  content/connectors-old/local-connectors.md
  content/connectors-old/outbound/_index.md
  content/connectors-old/outbound/dynamodb.md
  content/connectors-old/outbound/kafka.md
  content/connectors-old/outbound/postgres.md
  content/connectors-old/outbound/prometheus.md
  content/connectors-old/outbound/slack.md
  content/connectors-old/outbound/sql.md
  content/connectors/_index.md
  content/connectors/cloud-connectors.md
  content/connectors/core-concepts.md
  content/connectors/outbound/http.md
  content/connectors/outbound/kafka.md
  content/news/this-week-in-fluvio-0009.md
  content/news/this-week-in-fluvio-0015.md
  content/news/this-week-in-fluvio-0016.md
  content/news/this-week-in-fluvio-0021.md
  content/news/this-week-in-fluvio-0022.md
  content/news/this-week-in-fluvio-0036.md
  content/news/this-week-in-fluvio-0048.md
  content/news/this-week-in-fluvio-0049.md
  content/smartmodules/certified/json-sql.md
  netlify.toml
Labels: CI, smartmodules, connectors, connectors:outbound, connectors:cloud-connectors, this-week-in-fluvio, hugo, smartmodules:certified, connectors-old, connectors:core-concepts

#776 updated github examples
  content/connectors/cdk/github-examples.md
Labels: connectors, cdk

#778 add secrets doc
  config.toml
  content/connectors/cdk/secrets.md
Labels: connectors, hugo, cdk

#781 rancher installation
  content/docs/kubernetes/images/rancher-desktop.png
  content/docs/kubernetes/images/rancher-dockerd.png
  content/docs/kubernetes/rancher.md
Labels: docs, embedded-content, docs:kubernetes

#784 Sync stable
  config.toml
  content/docs/kubernetes/rancher.md
  functions/newsletter/newsletter.ts
  functions/newsletter/package-lock.json
  functions/newsletter/package.json
Labels: docs, embedded-content, hugo, docs:kubernetes

#788 Updated twif-58
  content/news/this-week-in-fluvio-0058.md
Labels: this-week-in-fluvio

#787 Removed Caution
  content/cli/install/cli_channels.md
  content/docs/kubernetes/rancher.md
  content/news/this-week-in-fluvio-0036.md
  content/news/this-week-in-fluvio-0048.md
  content/news/this-week-in-fluvio-0049.md
Labels: cli, docs, embedded-content, this-week-in-fluvio, docs:kubernetes, cli:install

#791 add: stable merge script and test workflow
  .github/workflows/s;ync-master-to-stable.yml
  scripts/sync-master-to-stable.sh
Labels: CI

#792 fix: stable merge workflow
  .github/workflows/sync-master-to-stable.yml
Labels: CI
